html{
    background-color: rgb(83, 138, 83);
}
#page1{
    background: url(images/Ori.jpg) no-repeat;
    height: 800px;
    justify-content: center;
    background-color: aqua;
}
h1 {
    font-size:2cm;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(227, 87, 190);
    text-align: center;
    justify-content: center;
    margin: 0px;
}
p{
    font-size: .5cm;
    color: rgb(28, 28, 37);
    text-align: center;
    margin: 0px;
}
h2 {
    font-size: medium;
    color: aqua;
    margin: 0px;
}

