html{
    background-color: rgb(24, 29, 24);
    max-zoom:initial;
}
#page1{
    background: url(./images/Ori.jpg) no-repeat;
    height: 1500px;
    background-size: cover;
    position:relative;
    justify-content: center;
}
#page2{
    background: url(./images/TheLastGuardian.webp) no-repeat;
    height: 1500px;
    background-size:cover;
    position: relative;
    justify-content: center;
}
#page3{
    background: url(./images/Skyrim.jpg) no-repeat;
    height: 1500px;
    background-size:cover;
    position: relative;
    justify-content: center;
}
h1{
    font-size:3cm;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(10, 32, 85);
    justify-content: center;
    margin: 0px;
    padding: 30px;
    position: relative;
}
h2{
    font-size: 3cm;
    color: rgb(202, 127, 56);
    margin: 0px;
}
h3{
    font-size: 2cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(167, 47, 24);
    text-align: start;
    justify-content: center;
    margin: 0px;
    padding: 30px;
    position: relative;
}
.intro{
    color:rgb(18, 46, 30);
    height: 800px;
    width: 2100px;
    left: 50px;
    top: 150px;
    position: absolute;
    justify-content: center;
    /* font inside class */
    font-size: 2cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(255,255,255);
    text-align: center;
    font-weight: bold;
    margin: 0px;
}
.aboutMe{
    color: rgb(167, 47, 24);
    height: 800px;
    width: 1300px;
    left: 900px;
    top: 0px;
    position:absolute;
    justify-content: center;
    /* font inside class */
    font-size: 1.1cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(0,0,0);
    text-align: end;
    font-weight: bold;
    
}
.projects{
    height: 800px;
    width: 2200px;
    left: 0px;
    top: 150px;
    position: absolute;
    justify-content: center;
}