html{
    background-color: rgb(5,8,55);
    zoom:fit-content;
    position: relative;
    justify-content: center;
}
#page1{
    background: url(./Images/Ori.jpg) no-repeat;
    height: 1500px;
    background-size: cover;
    position:relative;
    justify-content: center;
}
#page2{
    background: url(./Images/TheLastGuardian.webp) no-repeat;
    height: 1500px;
    background-size:cover;
    position: relative;
    justify-content: center;
}
#page3{
    background: url(./Images/Uncharted.jpg) no-repeat;
    height: 1500px;
    background-size:cover;
    position: relative;
    justify-content: center;
}
#page4{
    background: url(./Images/Fe.png);
    height: 1500px;
    background-size:cover;
    position: relative;
    justify-content: center;
}
h1{ /*page1, title*/
    font-size:3cm;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(10, 32, 85);
    justify-content: center;
    margin: 0px;
    padding: 30px;
    position: relative;
}
h2{ /*page2, title*/
    font-size: 3cm;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(0,0,0);
    color: rgb(167, 47, 24);
    text-align: start;
    justify-content: center;
    margin: 0px;
    padding: 30px;
    position: relative;
}
h3{ /*page3, title*/
    font-size:3cm;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(254,220,134);
    color: rgb(74,59,43);
    justify-content: center;
    margin: 0px;
    padding: 30px;
    position: relative;
}
h4{ /*page4, title*/
    font-size:3cm;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(255,107,196);
    color: rgb(5,8,55);
    justify-content: center;
    margin: 0px;
    padding: 30px;
    position: relative;
}
.navPanel{
    font-size: 1.5cm;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}
.navPanel a{
    background-color: rgb(179, 236, 132);
    justify-content: center;
}
.returnToTop{
    font-size: 1.5cm;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-weight: bold;
    justify-content: right;
}
.intro{
    color:rgb(18, 46, 30);
    justify-content: center;
    margin: 0px;
    position: relative;
    font-size: 2cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(255,255,255);
    text-align: center;
    font-weight: bold;
    margin: 0px;
}
.aboutMe{
    color: rgb(167, 47, 24);
    justify-content: center;
    margin: 0px;
    padding: 30px;
    position: relative;
    font-size: 1.5cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(0,0,0);
    text-align: center;
    font-weight: bold;
}
.projects{
    font-size: 2cm;
    padding-bottom:15%;
    position: relative;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    text-align: right;
    font-weight: bold;
}
.projects a{
    color:rgb(254,220,134);
    background-color: rgb(74,59,43);
    justify-content: center;
}
.links{
    font-size: 2cm;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    text-align: center;
    font-weight: bold;
}
.links a{
    color:rgb(255,107,196);
    background-color: rgb(5,8,55);
    justify-content: center;
}
.links object{
    height: 900px;
    width: 900px;
}